html, body {
    font-family: 微軟正黑體;
    background-color: #eee;
    color: #000;
}

.thetable {
    margin-left: auto;
    margin-right: auto;
}

table th {
    padding: 5px;
    text-align: center;
    background-color: orange;
    font-weight: bold;
    color: #000;
}

table td {
    padding: 3px;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.bold {
    font-weight: bold;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
/*
  TOP
*/
.top_class {
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    text-align: center;
}

    .top_class a {
        margin-right: 10px;
        border-bottom: 2px solid #000;
        border-left: 1px solid #000;
        border-top: 1px solid #000;
        border-right: 2px solid #000;
        padding: 8px;
    }
/*.top_class a:hover{  
  border-bottom:1px solid #f00;
  font-weight:bold;
}
*/
.top_class_a_default {
    background-color: #eee;
}

    .top_class_a_default:hover {
        background-color: #ccc;
    }

.top_admin_class_a_default {
    background-color: #ff9900;
}

.top_class_a_active {
    margin-right: 10px;
    border-bottom: 2px solid #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 2px solid #000;
    background-color: rgb(51,255,204);
    padding: 8px;
    font-weight: bold;
}

.top_admin_class_a_active {
    margin-right: 10px;
    border-bottom: 2px solid #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 2px solid #000;
    background-color: #dfd;
    padding: 8px;
}

.top_hr {
    width: 95%;
}

.green_bold {
    color: green;
    font-weight: bold;
}

.red_bold {
    color: red;
    font-weight: bold;
}

.orange_bold {
    color: orange;
    font-weight: bold;
}

.login_class {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 3px;
    border: 1px solid #ccc;
}

    .login_class input[type='text'] {
        width: 350px;
        margin-bottom: 15px;
    }

    .login_class input[type='password'] {
        width: 350px;
        margin-bottom: 5px;
    }

    .login_class #gdcode {
        text-align: center;
    }

.fake_hdd_class {
    /*display:inline;*/
    padding: 15px;
    border: 1px dashed #ccc;
    margin-bottom: 15px;
    /*text-align:center;*/
}

.fake_hdd_left_class {
    display: inline;
    font-weight: bold;
}

.fake_hdd_right_class {
    text-align: right;
}

.form_div_class textarea {
    width: 99%;
}

.form_div_class select {
    width: 80%;
}
